body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.navbar.custom-navbar {
  background-color: #ff5fa2 !important;
}


.navbar.custom-navbar .navbar-menu.is-active {
  background-color: #ff5fa2 !important;
}


.navbar.custom-navbar .navbar-item.is-active {
  background-color: #ff8fb1 !important;
  color: white !important;
}

.navbar.custom-navbar .navbar-dropdown {
  background-color: #ff5fa2 !important;
}

.navbar.custom-navbar .navbar-dropdown .navbar-item {
  color: #ff5fa2 !important;
}

.navbar.custom-navbar .navbar-dropdown .navbar-item:hover {
  background-color: #ff8fb1 !important;
}

.navbar.custom-navbar .navbar-item,
.navbar.custom-navbar .navbar-link {
  color: white !important;
}

.is-brand-pink {
  background-color: #ff5fa2 !important;
  color: white !important;
}


.hover-lift {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hover-lift:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.avatar-round {
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.user-tag {
  text-transform: capitalize;
}

.admin-table-container {
  margin-top: 1.5rem;
}


.heading {
  margin-bottom: 0.5rem !important;
  color: #7a7a7a;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-lift {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hover-lift:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}


